.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-description{
  color: black;
  display: inline;
}
.App-header {
  background-color: #e7e8ea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.the-box {
  background-color: #25375a;
  margin: 2rem;
  border-radius: 0.5rem;
  padding: 4rem; 
}
.the-box-content{ 
  justify-content: center;
  padding: 2rem;
} 
.the-box-buttons{
  display: inline;
}